# Snowflake Connection
SNOWFLAKE_ACCOUNT=your_account.regions
SNOWFLAKE_USER=SPACEX_DATA_DEV_TRANSFORM_USER
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=SPACEX_DATA_DEV_TRANSFORM_ROLE
SNOWFLAKE_WAREHOUSE=SPACEX_DATA_DEV_TRANSFORM_WH

# SpaceX API
SPACEX_API_URL=https://api.spacexdata.com/v4
SPACEX_CONFIG_SNOWFLAKE=include/singer_tap/runner/config_snowflake.json


AIRFLOW__CORE__FERNET_KEY=your_fernet_key
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key
