# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
# Airflow providers and extensions
apache-airflow-providers-snowflake==5.7.1
astronomer-cosmos>=1.0.3,<2.0.0

# Core dependencies
python-dotenv==1.0.1
requests==2.32.3
